In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

%matplotlib inline
sns.set(color_codes=True)

In [16]:
from pandas_profiling import ProfileReport

In [21]:
import os 
os.getcwd()

'C:\\Users\\bharath.r\\Desktop\\Personal'

In [ ]:
os.chdir()

In [28]:
#xls = pd.ExcelFile("C:/Users/bharath.r/Desktop/Personal/Pattern_Analysis_Round_-_Data_Sheet")
#f1 = pd.read_excel(xls, 'Sheet1')
#df2 = pd.read_excel(xls, 'Sheet2')

In [103]:
Leads = pd.read_csv("Leads.csv")
# To display the top 5 rows
Leads.head(5)

,Email,Current Status,Type,Date,Started Free Trial?,Decision Maker,demo_date,Phone Number,Designation,Employee Size,...,City/State,Country,Keyword if any,Initial Referrer,Referrer URL,Acquisition Source,When do you need to Solution,Sources,Destinations,message
0,1@customer-leads.com,Not Interested,create-account,"Monday, October 1, 2018, 11:45:03 AM",No,Yes,NaN,"Saturday, November 27, -19744, 12:00:00 AM",ETL Analyst Team Lead,375,...,Singaperumalkoil,India,NaN,https://www.google.co.in/,https://abc.com/blog/amazon-redshift-pros-and-...,Blog - Redshift - Generic,Immediately,"redshift,s3,tableau",redshift,NaN
1,2@customer-leads.com,No Response - Email,create-account,"Thursday, October 4, 2018, 5:05:03 PM",No,Yes,NaN,"Tuesday, December 20, -3741, 12:00:00 AM",VP Engineering,50,...,NaN,United States,NaN,https://www.google.com/,https://abc.com/blog/superset-vs-metabase-vs-r...,Blog - Generic,Early Exploration,"aurora,s3","bigquery,s3",NaN
2,3@customer-leads.com,No Response - Email,free-trial,"Saturday, October 6, 2018, 4:30:52 PM",No,No,NaN,"Tuesday, December 20, -3741, 12:00:00 AM",Senior DBA,7,...,Berlin,Germany,NaN,https://www.google.de/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,NaN,NaN,NaN,NaN
3,4@customer-leads.com,No Response - Email,create-account,"Sunday, October 7, 2018, 11:49:01 AM",No,No,"Friday, October 12, 2018, 8:30:00 PM","Tuesday, December 20, -3741, 12:00:00 AM",Data Analyst,215,...,New York,United States,NaN,https://www.google.com/,https://abc.com/blog/ai-transform-business-int...,Blog - Generic,Early Exploration,"python,chartio,superset","mysql,ms_sql",NaN
4,5@customer-leads.com,Not Interested,free-trial,"Tuesday, October 9, 2018, 1:49:27 PM",Yes,No,"Tuesday, October 9, 2018, 2:00:00 PM","Tuesday, December 20, -3741, 12:00:00 AM",Business Intelligence Analyst,45,...,Kyiv,Ukraine,NaN,https://www.google.com.ua/,https://abc.com/blog/redshift-vs-bigquery/,Blog - Redshift - Generic,Immediately,google_analytics,bigquery,NaN

In [30]:
Blog = pd.read_csv("Blog.csv")
Blog.head()

,Blog Url,2018-08-01 0:00:00,2018-08-02 0:00:00,2018-08-03 0:00:00,2018-08-04 0:00:00,2018-08-05 0:00:00,2018-08-06 0:00:00,2018-08-07 0:00:00,2018-08-08 0:00:00,2018-08-09 0:00:00,...,2018-10-22 0:00:00,2018-10-23 0:00:00,2018-10-24 0:00:00,2018-10-25 0:00:00,2018-10-26 0:00:00,2018-10-27 0:00:00,2018-10-28 0:00:00,2018-10-29 0:00:00,2018-10-30 0:00:00,2018-10-31 0:00:00
0,https://abc.com/blog/redshift-vacuum-and-analyze/,32,15,25,5,4,25,30,26,27,...,31,28,19,17,24,5,14,40,31,17
1,https://abc.com/blog/amazon-redshift-pros-and-...,25,15,19,1,1,20,19,17,16,...,27,24,24,23,19,6,20,30,20,19
2,https://abc.com/blog/redshift-distribution-keys/,13,15,10,1,3,16,25,18,16,...,34,38,29,33,22,5,14,34,44,37
3,https://abc.com/blog/postgresql-to-redshift-etl/,25,16,16,8,7,23,20,13,13,...,18,24,22,16,11,5,9,21,29,15
4,https://abc.com/blog/redshift-sort-keys-choosi...,8,17,18,5,8,15,21,20,22,...,32,34,26,35,26,5,14,28,54,48

In [31]:
Leads.info()
blog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 23 columns):
Email                           71 non-null object
Current Status                  71 non-null object
Type                            71 non-null object
Date                            71 non-null object
Started Free Trial?             71 non-null object
Decision Maker                  71 non-null object
demo_date                       37 non-null object
Phone Number                    71 non-null object
Designation                     69 non-null object
Employee Size                   61 non-null object
Visited Pricing                 69 non-null object
Visited Integrations            69 non-null object
Visited Platform                69 non-null object
City/State                      66 non-null object
Country                         69 non-null object
Keyword if any                  17 non-null object
Initial Referrer                66 non-null object
Referrer URL                    68 non-null object
Acquisition Source              69 non-null object
When do you need to Solution    40 non-null object
Sources                         41 non-null object
Destinations                    40 non-null object
message                         2 non-null object
dtypes: object(23)
memory usage: 12.9+ KB

In [38]:
print( Leads.shape , Blog.shape)

(71, 23) (39, 93)

In [45]:
print ( Leads.dtypes) 
print(Blog.dtypes)

Email                           object
Current Status                  object
Type                            object
Date                            object
Started Free Trial?             object
Decision Maker                  object
demo_date                       object
Phone Number                    object
Designation                     object
Employee Size                   object
Visited Pricing                 object
Visited Integrations            object
Visited Platform                object
City/State                      object
Country                         object
Keyword if any                  object
Initial Referrer                object
Referrer URL                    object
Acquisition Source              object
When do you need to Solution    object
Sources                         object
Destinations                    object
message                         object
dtype: object
Blog Url              object
2018-08-01 0:00:00     int64
2018-08-02 0:00:00     int64
2018-08-03 0:00:00     int64
2018-08-04 0:00:00     int64
                       ...
2018-10-27 0:00:00     int64
2018-10-28 0:00:00     int64
2018-10-29 0:00:00     int64
2018-10-30 0:00:00     int64
2018-10-31 0:00:00     int64
Length: 93, dtype: object

In [104]:
Leads= Leads.drop_duplicates()
Blog= Blog.drop_duplicates()
Leads.shape

(71, 23)

In [48]:
Blog.shape

(39, 93)

In [105]:
df = Leads
df.dropna()
df.shape

(71, 23)

In [108]:
df['Employee Size'] = df['Employee Size'].str.replace('-','0') 
#df['Employee Size'] = df['Employee Size'].str.replace('','0')
df['Employee Size'] = df['Employee Size'].fillna(0)
#df['Employee Size'].astype(int)


#df['Employee Size'] = df['Employee Size']. astype(str)
df['Employee Size'] = df['Employee Size'].astype(int)

l = list( df['Employee Size'])

[375,
 50,
 7,
 215,
 45,
 0,
 45,
 120,
 0,
 60,
 16,
 652,
 0,
 64,
 0,
 0,
 30,
 0,
 0,
 15,
 1,
 687,
 60,
 0,
 210,
 189,
 16566,
 97,
 6910,
 6651,
 13,
 27,
 65,
 659,
 132,
 33,
 1,
 6,
 30,
 28,
 99,
 6670,
 0,
 45,
 18000,
 7,
 184,
 21,
 15,
 1,
 14,
 83,
 0,
 34,
 1,
 23,
 17,
 2,
 2360,
 41,
 566,
 466,
 3,
 155,
 0,
 144,
 59,
 32,
 230,
 174,
 93]

In [124]:
df= Leads['Employee Size']
sns.boxplot(x="Employee Size")

plt.show()

ValueError: Could not interpret input 'Employee Size'

In [132]:
import numpy as np; np.random.seed(42)
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.DataFrame(data = np.random.random(size=(4,4)), columns = ['A','B','C','D'])

sns.boxplot(x="variable", y="value", data=pd.melt(df))

plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  # Remove the CWD from sys.path while we load stuff.

In [136]:
import matplotlib.pyplot as plt 
  
# x axis values 
x = [1,2,3] 
# corresponding y axis values 
y = [2,4,1] 
  
# plotting the points  
plt.plot(x, y) 
  
# naming the x axis 
plt.xlabel('x - axis') 
# naming the y axis 
plt.ylabel('y - axis') 
  
# giving a title to my graph 
plt.title('My first graph!') 
  
# function to show the plot 
plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.

In [137]:
#pip3 install PyQt5==5.9.2

conda install PyQt5==5.9.2

SyntaxError: invalid syntax (<ipython-input-137-5319a1ebd407>, line 3)

In [133]:
Leads.columns

Index(['Email', 'Current Status', 'Type', 'Date', 'Started Free Trial?',
       'Decision Maker', 'demo_date', 'Phone Number', 'Designation',
       'Employee Size', 'Visited Pricing ', 'Visited Integrations ',
       'Visited Platform ', 'City/State', 'Country', 'Keyword if any',
       'Initial Referrer', 'Referrer URL', 'Acquisition Source',
       'When do you need to Solution', 'Sources', 'Destinations', 'message'],
      dtype='object')

In [129]:
import sys 
sys.path

['C:\\Users\\bharath.r\\Desktop\\Personal',
 'C:\\ProgramData\\Anaconda3\\python37.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 '',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\bharath.r\\.ipython']

In [50]:
Leads.columns

Index(['Email', 'Current Status', 'Type', 'Date', 'Started Free Trial?',
       'Decision Maker', 'demo_date', 'Phone Number', 'Designation',
       'Employee Size', 'Visited Pricing ', 'Visited Integrations ',
       'Visited Platform ', 'City/State', 'Country', 'Keyword if any',
       'Initial Referrer', 'Referrer URL', 'Acquisition Source',
       'When do you need to Solution', 'Sources', 'Destinations', 'message'],
      dtype='object')

In [40]:
df = Leads
profile = ProfileReport(df )

profile.to_file("Leads_EDA_Report.html")

C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)
C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\plot.py:133: UserWarning: Attempting to set identical left == right == -0.5 results in singular transformations; automatically expanding.
  matrix_image = axes_cor.imshow(corrdf, vmin=-1, vmax=1, interpolation="nearest", cmap='bwr')
C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\plot.py:133: UserWarning: Attempting to set identical bottom == top == -0.5 results in singular transformations; automatically expanding.
  matrix_image = axes_cor.imshow(corrdf, vmin=-1, vmax=1, interpolation="nearest", cmap='bwr')

ZeroDivisionError: float division by zero

In [ ]:
df = Blog

In [ ]:
profile2 = ProfileReport(df, title='HEVO_Data_EDA', explorative=True)

In [ ]:
profile.to_notebook_iframe()

In [ ]:
profile.to_file("your_report.html")

In [ ]:
profile = ProfileReport(large_dataset, minimal=True)
profile.to_file("output.html")