# Tuple Unpacking

In [1]:
p = (4,5)
x,y = p
print(f"{x},{y}")

4,5

In [10]:
data = ["Jaspreet Singh", 25, "Data Scientist", "Bangalore", "India", (11,2,2021)]
name, age, designation, city, country, date = data
print(name, age, designation, city, country, date)

Jaspreet Singh 25 Data Scientist Bangalore India (11, 2, 2021)

In [11]:
data = ["Jaspreet Singh", 25, "Data Scientist", "Bangalore", "India", (11,2,2021)]
name, age, designation, city, country, (day,month,year) = data
print(name, age, designation, city, country, day, month, year)

Jaspreet Singh 25 Data Scientist Bangalore India 11 2 2021

# Throwaway variables for values we wish to discard during unpacking

In [16]:
data = ["Jaspreet Singh", 25, "Data Scientist", "Bangalore", "India", (11,2,2021)]
name, __, designation, city, _, _ = data
__

25

# Handling "too many values to unpack" error while dealing with iteratble of arbitary length
- This is handled via python's "star-expression"
```python
def drop_first_last(string):
    first, *middle, last = string
    return avg(middle)
```
- Returns the average of all numbers, except first and last

In [21]:
data = ["Jaspreet Singh", 25, "Data Scientist", "Bangalore", "India", (11,2,2021)]
name, age, *others, date = data
print(name, age, date)
print(others)

Jaspreet Singh 25 (11, 2, 2021)
['Data Scientist', 'Bangalore', 'India']

In [22]:
line = 'nobody:*:-2:-2:Unprivilleged User:/var/empty:/usr/bin/false'
usrname, *fields, homedir, sh = line.split(":")
print(usrname, homedir, sh)

nobody /var/empty /usr/bin/false

In [30]:
data = ["Jaspreet Singh", 25, "Data Scientist", "Bangalore", "India", (11,2,2021)]
name, age, *others, country, date = data
print(name, age, date)
print(others)

Jaspreet Singh 25 (11, 2, 2021)
['Data Scientist', 'Bangalore']

In [29]:
record = ('ACME', 50, 123.45, (12,18,2012))
name, *_, (day, *_, year) = record
print(name, year)

ACME 2012